.navbar-parent {
    min-height: 600px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(126,126,246,1) 0%, rgba(0,212,255,1) 100%);
    padding: 30px 0px;
    .logo-box{
        font-size: 26px;
        font-weight: 800;
        position: relative;
        z-index: 9;
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    .header {
        .header-menu {
            a {
                z-index: 9;
                &::before {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    background-color: red;
                    height: 30px;
                    left: -100%;
                    transition: 0.5s;
                    z-index: -1;
                }
                &:hover {
                    &::before {
                        left: 0;
                    }
                }
            }
        }
    }
}