<!-- HEDER NAVBAR -->
<div class="navbar-parent">
  <div class="container">
    <div class="header d-flex align-items-center justify-content-between">
      <div class="logo-box">
        <a href="javascript:void(0)"><span>Ashish Soni</span></a>
      </div>
      <div class="header-menu">
        <ul class="list-unstyled pl-0 mb-0 d-flex align-items-center">
          <li *ngFor="let menu of menuList" class="overflow-hidden position-relative">
            <a href="javascript:void(0)" class="me-3 text-decoration-none text-white position-relative">{{ menu.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- HEADER NAVBAR END -->