<section id="about">
    <div class="about-inner">
        <div class="heading-top">
            <h1>About Me</h1>
        </div>

        <div class="about-withimg d-flex align-items-center">
            <div class="intro-parent">
                <div class="intro">
                    <img src="assets/images/profile.jpg" alt="Profile">
                </div>
            </div>
            <div class="description d-flex align-items-center">
                <div class="desc-para">
                    <p>To obtain a challenging position in the area of computer information systems where my skills, creativity and leadership can be utilized in maximizing company prots while providing career advancement opportunities.</p>
                    <div class="cv-download">
                        <a href="files/AshishResume.pdf" class="d_pdf" download="">Download CV</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-imgage">
            <img src="assets/images/RedBol.png" alt="">
        </div>
    </div>
</section>
