<section id="contact" class="contact-parent">
    <div class="contact-inner">
        <div class="heading-top">
            <h1>Get In Touch</h1>
        </div>

        <div class="position-imgage">
            <img src="assets/images/RedBol.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="contact-info">
                <h3>Let's talk about hiring me!</h3>
                <p>Don't like forms? Send me an <a href="mailto:designer.ashish@hotmail.com">email</a>. 👋</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="contact-form">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea type="text" class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="send-messeage">
                        <button type="submit" class="send-sms">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
