/* VARIABLE */
$white-color: #FFFFFF;
$profile-border: #ffd15c;
$background-red: #ff4c60;
$background-dpurple: #353353;

.progress-parent {
    padding: 50px;
    background-color: $background-dpurple;
    position: relative;
    .progress-inner {
        .heading-top {
            position: relative;
            z-index: 99;
            h1 {
                color: $white-color;
                font-weight: 700;
            }
        }
        .position-imgage {
            position: absolute;
            top: 0;
            left: 5%;
            img {
                transform: rotate(90deg);
                width: 50px;
                opacity: 0.4;
            }
        }
    }
    .progressbar-box {
        margin-top: 3rem;
        width: 100%;
        box-sizing: border-box;
        .progressbox-inner {
            margin-bottom: 30px;
            max-width: 1130px;
            margin: 0 auto;
            display: grid;
            gap: 2rem;
            h2.label {
                font-size: 18px;
            }
        }
    }
}

/* MEDIA QUERY */
@media (min-width: 900px) {
    .progressbox-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 600px) {
    .progressbox-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}