<section id="services" class="service-parent">
    <div class="service-inner">
        <div class="heading-top">
            <h1>Services</h1>
        </div>

        <div class="position-imgage">
            <img src="assets/images/RedBol.png" alt="">
        </div>
    </div>

    <div class="service-box">
        <ul class="service-box-inner list-unstyled pl-0">
            <li *ngFor="let service of serviceBOx" class="box text-white" [ngStyle]="getRandomColor()">
                <div class="icon_img">
                    <img src="assets/images/{{service.imgname}}.gif" alt="UI UX Design">
                </div>
                <h2>{{service.boxheading}}</h2>
                <p>{{service.paragraph}}</p>
            </li>
        </ul>
    </div>
</section>
