<section id="skills" class="progress-parent">
    <div class="progress-inner">
        <div class="heading-top">
            <h1>Skills</h1>
        </div>

        <div class="position-imgage">
            <img src="assets/images/RedBol.png" alt="">
        </div>
    </div>

    <div class="progressbar-box">
        <ul class="progressbox-inner list-unstyled pl-0">
            <li *ngFor="let progress of progressBar" class="text-white">
                <h2 class="label">{{progress.boxheading}}</h2>
                <div class="progress">
                    <div class="progress-bar" [ngStyle]="getRandomColor()" style="width: 90%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</section>
