<section id="skills" class="progress-parent">
    <div class="progress-inner">
        <div class="heading-top">
            <h1>Skills</h1>
        </div>

        <div class="position-imgage">
            <img src="assets/images/RedBol.png" alt="">
        </div>
    </div>

    <div class="progressbar-box">
        <ul class="progressbox-inner list-unstyled pl-0">
            <li *ngFor="let progress of progressBar" class="text-white">
                <div class="label-percent d-flex align-items-center justify-content-between mb-2">
                    <h2 class="label mb-0">{{progress.boxheading}}</h2>
                    <span>70%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" [ngStyle]="getRandomColor()" [style.width]="progress.width + '%'"></div>
                </div>
            </li>
        </ul>
    </div>
</section>