@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

.pl-0 {
    padding-left: 0 !important;
}

.body-parent {
    width: 100%;
    position: relative;
    .collapse-icon {
        position: relative;
        .close-sidebar {
            position: fixed;
            top: 13px;
            left: 1%;
            cursor: pointer;
            color: #fff;
            transition: 0.5s ease-in;
            z-index: 99;
        }
    }
}

.body-rightpart {
    padding-left: 290px;
    transition: 0.5s ease-in;
}