<section id="services" class="service-parent">
    <div class="service-inner">
        <div class="heading-top">
            <h1>Services</h1>
        </div>

        <div class="position-imgage">
            <img src="assets/images/RedBol.png" alt="">
        </div>
    </div>

    <div class="service-box">
        <div class="service-box-inner">
            <div class="uiux-design text-white">
                <div class="icon_img mb-3">
                    <img src="assets/images/ui_ux_design.png" alt="UI UX Design">
                </div>
                <h2>UI/UX Design</h2>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p>
            </div>
            <div class="web-development text-white">
                <div class="icon_img mb-3">
                    <img src="assets/images/ui_ux_design.png" alt="UI UX Design">
                </div>
                <h2>Web Development</h2>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p>
            </div>
            <div class="mobile-friendly text-white">
                <div class="icon_img mb-3">
                    <img src="assets/images/ui_ux_design.png" alt="UI UX Design">
                </div>
                <h2>Mobile Friendly</h2>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p>
            </div>
        </div>
        <div class="service-box-inner">
            <div class="uiux-design text-white">
                <div class="icon_img mb-3">
                    <img src="assets/images/ui_ux_design.png" alt="UI UX Design">
                </div>
                <h2>Graphic Design</h2>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p>
            </div>
            <div class="web-development text-white">
                <div class="icon_img mb-3">
                    <img src="assets/images/ui_ux_design.png" alt="UI UX Design">
                </div>
                <h2>Clean Code</h2>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p>
            </div>
            <div class="mobile-friendly text-white">
                <div class="icon_img mb-3">
                    <img src="assets/images/ui_ux_design.png" alt="UI UX Design">
                </div>
                <h2>Angular Development</h2>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p>
            </div>
        </div>
    </div>
</section>
