.app-view {
    width: 100%;
    padding-left: 290px;
    height: 100vh;
    overflow-y: scroll;
    section.home-section {
        background: #353353;
        padding: 0;
        height: 100vh;
        min-height: 100vh;
    }
}