<div class="container">
    <div class="intro">
        <img src="assets/images/profile.jpg" alt="Profile">
    </div>
    <div class="portfolio-name mt-3 text-center text-white">
        <h1>{{ profileName }}</h1>
        <p>I'm a {{ designationName }}</p>
    </div>
    <div class="social-media">
        <ul>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
        </ul>
    </div>
</div>
