<section id="home">
    <div class="container home">
        <div class="intro">
            <img src="assets/images/profile.jpg" alt="Profile">
        </div>
        <div class="portfolio-name mt-3 text-center text-white">
            <h1>{{ profileName }}</h1>
            <p>I'm a {{ designationName }}</p>
        </div>
        <div class="social-media">
            <ul class="list-unstyled d-flex align-items-center">
                <li><a href="https://github.com/DASHISH498" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dashishsoni/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/Filttretsoni"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.behance.net/dashishsoni"><i class="fa-brands fa-behance"></i></a></li>
            </ul>
        </div>
        <div class="hire-me d-flex justify-content-center">
            <button type="button" class="btn btn-warning">Hire Me</button>
        </div>
        <div class="scroll-down">
            <a href="#about" class="scroll-downinnner">
                <span>Scroll Down</span>
                <span class="mouse">
                    <span class="wheel"></span>
                </span>
            </a>
        </div>
    </div>    
</section>